
body {
    align-items: center;
    align-content: center;
    vertical-align: center;
    min-height: 100vh;
    height: 100vh;
    }

    .vert-spacer{
        height: 4px;
    }

    .test{
        display: grid;
        align-self: center;
        align-content: center;
        vertical-align: center;
        height: 100%;
    }

    a {
        color: #ffc107;
    }
    
    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

    main {
        width: 100%;
        align-items: center;
        align-content: center;
        vertical-align: middle;
        height: 100vh;
        margin: 0px;
    }

    .header-centered{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .internalizedlist{
        height: 50vh;
        background-color: rgb(29, 29, 29);
        margin-bottom: 12px;
        border-radius: 8px
    }