<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <title>C.I.S. Corruption Detection</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <main class="form-signin m-auto">
        <form class="searchMenu">
          <!-- TODO: PLACEHOLDER FOR TAB HEADER STUFF -->
          <h1>SEARCH MENU (PLACEHOLDER)</h1>
          <div class="position-relative">
          <!-- search terms fieldset -->
          <fieldset style="border: solid hsl(276, 100%, 50%)">
            <h6 style="color:hsl(276, 100%, 50%)">Search terms:</h6>
            <!-- Last name -->
            <div class="vert-spacer"></div>
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="Last name">
              <label for="floatingInput">Last name</label>
            </div>
            <!-- First Name -->
            <div class="vert-spacer"></div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingInput" placeholder="First Name">
              <label for="floatingInput">First Name</label>
            </div>
            <!-- Project name -->
            <div class="vert-spacer"></div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingInput" placeholder="Project name">
              <label for="floatingInput">Project name</label>
            </div>
            <!-- Company name -->
            <div class="vert-spacer"></div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingInput" placeholder="Company name">
              <label for="floatingInput">Company name</label>
            </div>
            <!-- Account number -->
            <div class="vert-spacer"></div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingInput" placeholder="Account number">
              <label for="floatingInput">Account number</label>
            </div>
            <!-- IBAN -->
            <div class="vert-spacer"></div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingInput" placeholder="IBAN">
              <label for="floatingInput">IBAN</label>
            </div>          
          </fieldset>
          <!-- Buttons and Progressbar -->
          <div class="vert-spacer"></div>
          <div class="row g-1">
            <div class="col">
              <button class="btn btn-primary py-2" type="submit">Start person search</button>
            </div>
            <div class="col">
              <button class="btn btn-primary py-2" type="submit">Start project analysis</button>
            </div>
          </div>
          <div class="vert-spacer"></div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%"></div>
          </div>
          <!-- Logo -->
          <div class="vert-spacer"></div>
          <img class="mb-4" src="../static/CISLOGO.png" alt="" width="100">
        </form>
      </main>
    </script>
  </body>
</html>